# Build data.
Build/Windows/Release
pornhub-dl.spec

# Visual Studio project files.
PornHub Downloader.pyproj
PornHub Downloader.sln
.vs

# Downloaded videos and it's data.
Downloads.ytdl
Downloads

# Advertisement animation file.
Advertisement.gif

# Python cache.
__pycache__